# AILEX Frontend - Variables de entorno

# API
# NEXT_PUBLIC_API_URL=

# Product environment
# NEXT_PUBLIC_AILEX_ENV = dev | beta | prod
NEXT_PUBLIC_AILEX_ENV=dev

# Guest access limit
# 0 = sin limite
NEXT_PUBLIC_GUEST_QUERY_LIMIT=0
